.golem-login-background {
    display: flex;
    background-image: linear-gradient(
        to right bottom,
        $color-alpha-green-light,
        $color-alpha-green-dark),
        url("./../assets/login-background.jpg");
    background-size: cover;
    background-position: top;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.golem-login-box {
    background: $color-alpha-grey-light;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.golem-heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.8rem;
    padding-left: .9em;
}

.golem-heading-primary-main {
    animation: moveInLeft-2 1.5s ease-out;
    font-weight: 400;
    letter-spacing: .45em;
}

.golem-heading-primary-sub {
    animation: moveInRight-2 1.5s ease-out;
    font-size: .75em;
    font-weight: 600;
    letter-spacing: 1em;
}

.golem-btn {
    margin-bottom: 0 !important;
}

.golem-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.golem-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

@media only screen and (min-width: 768px) {
    .golem-login-box .el-input {
        min-width: 45rem;
    }

    .golem-heading-primary {
        font-size: 3.2rem;
    }
}

/*
@media only screen and (max-width: 600px) {
    .golem-login-box {
        width: 40rem;
    }
    .golem-text-box {
        left: 53%;
    }
    .golem-heading-primary-main {
        font-size: 4.5rem;
    }
    .golem-heading-primary-sub {
        font-size: 140%;
        letter-spacing: 15.5px;
    }
} 
@media only screen and (min-width: 600px) {
    .golem-login-box {
        width: 50rem;
    }
    .golem-text-box {
        left: 52%;
    }
    .golem-heading-primary-main {
        font-size: 6rem;
    }
    .golem-heading-primary-sub {
        font-size: 120%;
        letter-spacing: 24px;
    }
}

@media only screen and (min-width: 900px) {
    .golem-login-box {
        width: 50rem;
    }
    .golem-text-box {
        left: 51%;
    }
    .golem-heading-primary-main {
        font-size: 6rem;
    }
    .golem-heading-primary-sub {
        font-size: 120%;
        letter-spacing: 24px;
    }
}*/