*,
*::after,
*::before {
    margin: 0px;
    padding: 0;
    box-sizing: inherit;
}

#root {
    height: 100%;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
}

hr {
    margin: 1rem 0;
    border: 1px solid rgba($color: #000, $alpha: 0.045);
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.table th, .table td {
    vertical-align: middle;
}

th {
    font-size: 12px;
    font-weight: 700;
}