$color-rose-primary: #EB2F64;
$color-rose-primary-light: #FF3366;
$color-rose-primary-dark: #BA265D;
$color-grey-light-1: #FAF9F9;
$color-grey-light-2: #F4F2F2;
$color-grey-light-3: #F0EEEE;
$color-grey-light-4: #CCC;
$color-grey-dark-1: #999;
$color-grey-dark-2: #666;
$color-grey-dark-3: #333;
$color-alpha-green-light: rgba(126, 213, 111, 0.8);
$color-alpha-green-dark: rgba(40, 180, 133, 0.8);
$color-alpha-grey-light: rgba(238, 238, 238, 0.8);