.golem-quizz-container {
    padding: 3rem;
    background: white;
    border-radius: 4px;
}

.golem-custom-btn {
    .el-form-item__content {
        display: flex;
        justify-content: flex-end;
    }
}