.golem-login {
    .el-form {
        position: relative;
        overflow: hidden;
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color: #454545;
        &__content {
            margin-left: 0px !important;
        }
    }

    .el-input {
        display: inline-block;
        height: 5rem;
        width: 100%;
        input {
            width: 100%;
            background: transparent;
            border: 0rem;
            -webkit-appearance: none;
            border-radius: 0rem;
            padding: 12px 5px 12px 15px;
            color: black;
            height: 4.5rem;
        }
    }

    .el-button {
        width: 100% !important;
        background: #EB2F64 !important;
        border-radius: 10px !important;
        color: #eee !important;
        text-decoration: none !important;
        border: 0 !important;
    }
}