.golem-container {
    display: flex;
    flex-direction: column;
    background: $color-grey-light-3;
    height: 100%;
    
}

.golem-content {
    display: flex;
    flex: 1;
}

.golem-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    animation: moveInTop 1.5s ease-out;
    font-size: 1.4rem;
}

.golem-main-view {
    background: $color-grey-light-3;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.golem-main-view-container {
    animation: moveInRight-1 1.5s ease-out;
    margin: 3rem;
}

.m-b-sm {
    margin-bottom: 1rem;
}

.m-b {
    margin-bottom: 2rem;
}

.m-b-lg {
    margin-bottom: 4rem;
}

.pull-right {
    display: block;
    float: right;
}

.text-right {
    text-align: right;
}