.golem-container {
    display: flex;
    flex-direction: column;
    background: $color-grey-light-3;
    height: 100%;
    
}

.golem-content {
    display: flex;
    flex: 1;
}

.golem-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    animation: moveInTop 1.5s ease-out;
    font-size: 1.4rem;
}

.golem-main-view {
    background: $color-grey-light-3;
    overflow: scroll;
}

.golem-main-view-container {
    animation: moveInRight-1 1.5s ease-out;
    background-color: white;
    margin: 3rem;
}