[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"
pylint-flask = "*"
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
pyjwt = "*"
flask-cors = "*"
flask-restplus = "*"
flask-script = "*"
marshmallow = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
dicttoxml = "*"

[requires]
python_version = "3.7"
